# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Virtual environment
.venv/
.env
env/
venv/
ENV/

# IDE/editor
.vscode/
.idea/
.DS_Store
memo.txt

# Django
db.sqlite3
/media/
/staticfiles/
/*.sqlite3

# Compiled
*.so
*.pyd
*.pyc
*.pyo

# Jupyter (if any)
.ipynb_checkpoints/

# Mac/Windows
Thumbs.db
ehthumbs.db
desktop.ini

# System files
*.bak

#test
test.py
locust.py

